@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto Mono', monospace;
}

.profile_section {
    padding: 10px;
    border:none;
}

.write_post {
    height: 40px;
}

.navbar {
    padding: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.body_section {
    margin-top: 70px;
}

.post_wrapper {
    border: 1px solid rgb(238, 235, 235);
    border-left: none;
}

.post {
    background: rgb(245, 244, 244);
    padding: 20px;
    margin: 35px;
    border: 1px solid rgb(221, 220, 220);

}

.profile_picture {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid rgb(206, 206, 206);

}

/* The Modal (background) */
.modal-backdrop {
    z-index: 0 !important;
}